<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" status="off">
    <Appenders>
        <Lambda name="LambdaNomal" format="${env:AWS_LAMBDA_LOG_FORMAT:-TEXT}">
            <LambdaTextFormat>
                <PatternLayout>
                    <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS}{GMT+9} FATAL %msg
                    </pattern>
                </PatternLayout>
            </LambdaTextFormat>
            <Filters>
                <Filter type="markerFilter" marker="FATAL" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </Lambda>
        <Lambda name="LambdaFatal" format="${env:AWS_LAMBDA_LOG_FORMAT:-TEXT}">
            <LambdaTextFormat>
                <PatternLayout>
                    <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS}{GMT+9} %p %msg</pattern>
                </PatternLayout>
            </LambdaTextFormat>
            <Filters>
                <Filter type="markerFilter" marker="FATAL" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>
        </Lambda>
        <Appender type="Console" name="CONSOLELOG">
            <Layout type="PatternLayout" pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %p %msg%n" />
        </Appender>
    </Appenders>
    <Loggers>
        <!-- Logs below this level will not be output. -->
        <Root level="${env:AWS_LAMBDA_LOG_LEVEL:-INFO}">
            <AppenderRef ref="LambdaNomal" />
            <AppenderRef ref="LambdaFatal" />
            <AppenderRef ref="CONSOLELOG" />
        </Root>
    </Loggers>
</Configuration>
