.train-line {
  fill: none;
  cursor: pointer;
  pointer-events: visible;
}

.platform-label {
  font-size: 12px;
  text-anchor: middle;
}

.tick line {
  stroke-opacity: 0.2;
}

.station-grid-line {
  stroke-opacity: 0.2;
  stroke: currentColor;
  pointer-events: none;
}

svg[openning-panel='true'] .station-grid-line,
svg[openning-panel='true'] .station-label {
  pointer-events: visible !important;
  cursor: pointer !important;
}

#bgr-before-start-time-view {
  fill: #c3bfbfe6;
}

.train-name-label {
  stroke: blue;
  font-weight: 100;
  cursor: pointer;
  pointer-events: visible;
}

svg[openning-panel='true'] .train-name-label {
  cursor: default !important;
  pointer-events: none !important;
}

.station-group[station-platform='0'] {
  pointer-events: all;
  cursor: pointer;
}

/*
Front drawing mode (frntBack = 0)
*/
.train-line[front-back-mode='0'] .accomodation-violation {
  stroke: orange !important;
  stroke-width: 1px !important;
}

/* svg[front-back-mode='0'][data-draw-mode='-1'] .train-line-group {
  stroke-width: 1px !important;
  stroke: gray !important;
} */

.train-marker[front-back-mode='0'][data-draw-mode='-1'][train-arv-before-begin-time='1'] {
  fill: gray !important;
  stroke: gray;
}

.train-line-group.train-selected > .train-line[front-back-mode='0'] {
  stroke: red !important;
  stroke-width: 2px !important;
}

.train-line-group.train-selected > .train-marker[front-back-mode='0'] {
  fill: red !important;
  stroke: red;
}

g[display-passenger-flow='1'] .train-line.train-passenger-medium {
  stroke: green !important;
}

g[display-passenger-flow='1'] .train-line.train-passenger-high {
  stroke: red !important;
}

g[display-passenger-flow='1'] .train-line.train-passenger-low {
  stroke: blue !important;
}

.train-line[front-back-mode='0'][train-stay-active-code='1'] {
  stroke: #ffc0cb !important;
  stroke-width: 2px !important;
  stroke-dasharray: 3, 1, 1, 1, 1, 1;
}

.train-marker[front-back-mode='0'][train-stay-active-code='1'] {
  fill: #ffc0cb !important;
  stroke: #ffc0cb !important;
}

/* Drawmode: other */
.train-line[front-back-mode='0'][data-draw-mode='other'] {
  stroke: #6495ed;
  stroke-width: 1px;
}

.train-marker[front-back-mode='0'][data-draw-mode='other'] {
  fill: #6495ed;
  stroke: #6495ed;
}

g[train-charge-flag='1'] .train-line[front-back-mode='0'][data-draw-mode='other'] {
  stroke: blue;
  stroke-width: 1px;
}

g[train-charge-flag='1'] .train-marker[front-back-mode='0'][data-draw-mode='other'] {
  fill: blue;
  stroke: blue;
}

/* Drawmode: Planned */
.train-line[front-back-mode='0'][data-draw-mode='-2'] {
  stroke: #6495ed;
  stroke-width: 1px;
}

.train-marker[front-back-mode='0'][data-draw-mode='-2'] {
  fill: #6495ed;
  stroke: #6495ed;
}

g[train-charge-flag='1'] .train-line[front-back-mode='0'][data-draw-mode='-2'] {
  stroke: blue;
  stroke-width: 1px;
}

g[train-charge-flag='1'] .train-marker[front-back-mode='0'][data-draw-mode='-2'] {
  fill: blue;
  stroke: blue;
}

/* Drawmode: Simulated */

.train-line[data-draw-mode='-1'][train-arv-before-begin-time='1'] {
  stroke: gray !important;
}

.train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='none'] {
  stroke: #6495ed;
  stroke-width: 1px;
}

.train-marker[front-back-mode='0'][data-draw-mode='-1'] {
  fill: #6495ed;
  stroke: #6495ed;
}

g[train-charge-flag='1']
  > .train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='none'] {
  stroke: blue;
}

.train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='30s'] {
  stroke-width: 2px;
  stroke: rgb(136, 0, 255);
}

g[train-charge-flag='1']
  > .train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='30s'] {
  stroke: #4b0082;
}

.train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='5m'] {
  stroke-width: 2px;
  stroke: rgb(136, 0, 255);
}

g[train-charge-flag='1']
  > .train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='5m'] {
  stroke: #4b0082;
}

.train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='10m'] {
  stroke-width: 2px;
  stroke: rgb(204, 0, 204);
}

g[train-charge-flag='1']
  > .train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='10m'] {
  stroke: #4b0082;
}

.train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='15m'] {
  stroke-width: 2px;
  stroke: rgb(255, 0, 204);
}

g[train-charge-flag='1']
  > .train-line[front-back-mode='0'][data-draw-mode='-1'][train-delay-time='15m'] {
  stroke: red;
}

/*  Background drawing mode (frntBack = 1) */
.train-line-group.train-selected > .train-line[front-back-mode='1'] {
  stroke: red !important;
  stroke-width: 2px !important;
}

.train-line-group.train-selected > .train-marker[front-back-mode='1'] {
  fill: red !important;
  stroke: red;
}

g[train-stay-active-code='1'] > .train-line[front-back-mode='1'] {
  stroke: #ffc0cb;
  stroke-width: 2px;
  stroke-dasharray: 3, 1, 1, 1, 1, 1;
}

g[train-stay-active-code='1'] > .train-marker[front-back-mode='1'] {
  fill: #ffc0cb;
  stroke: #ffc0cb;
}

.train-line[front-back-mode='1'] {
  stroke: darkgray;
  stroke-width: 1px;
}

.train-marker[front-back-mode='1'] {
  fill: darkgray;
  stroke: darkgray;
}

/*  Planned service suspension drawing mode (frntBack=2) - (Scheduled suspensions) */
.train-line-group.train-selected > .train-line[front-back-mode='2'] {
  stroke: red !important;
  stroke-width: 2px !important;
}

.train-line-group.train-selected > .train-marker[front-back-mode='2'] {
  fill: red !important;
  stroke: red !important;
}

.train-line[front-back-mode='2'] {
  stroke: #add8e6;
  stroke-width: 2px;
  stroke-dasharray: 3, 1, 1, 1, 1, 1;
}

.train-marker[front-back-mode='2'] {
  fill: #add8e6;
  stroke: #add8e6;
}

/*  suspension drawing mode (frntBack=3) - (Normally suspended) */
.train-line-group.train-selected > .train-line[front-back-mode='3'] {
  stroke: red !important;
  stroke-width: 2px !important;
}

.train-line-group.train-selected > .train-marker[front-back-mode='3'] {
  fill: red !important;
  stroke: red !important;
}

.train-line[front-back-mode='3'] {
  stroke: #ffc0cb;
  stroke-width: 2px;
  stroke-dasharray: 3, 1, 1, 1, 1, 1;
}

.train-marker[front-back-mode='3'] {
  fill: #ffc0cb;
  stroke: #ffc0cb;
}

/*  suspension drawing mode (frntBack=4) - (Highlighted suspension) */
/* svg[front-back-mode='4'] .train-line {
  stroke: red;
  stroke-width: 3px;
} */

/* svg[front-back-mode='4'] .train-marker {
  fill: red;
  stroke: red;
} */

/*  other */
/* svg[front-back-mode='-1'] .train-line {
  stroke: #006400;
  stroke-width: 1px;
}

svg[front-back-mode='-1'] .train-marker {
  fill: #006400;
  stroke: #006400;
} */

g.planned-trains-container[muted='1'] path.train-line {
  stroke: lightgray !important;
}

.hit-area {
  stroke: transparent;
  stroke-width: 7px;
  cursor: pointer;
}

.hit-area {
  marker: none;
}
