$REACT_APP_LOW_CONGESTION_PERCENTAGE_COLOR: blue;
$REACT_APP_MEDIUM_CONGESTION_PERCENTAGE_COLOR: green;
$REACT_APP_HIGH_CONGESTION_PERCENTAGE_COLOR: red;

svg[display-passenger-flow='1'] .train-line.train-passenger-medium {
  stroke: $REACT_APP_MEDIUM_CONGESTION_PERCENTAGE_COLOR !important;
}

svg[display-passenger-flow='1'] .train-line.train-passenger-high {
  stroke: $REACT_APP_HIGH_CONGESTION_PERCENTAGE_COLOR !important;
}

svg[display-passenger-flow='1'] .train-line.train-passenger-low {
  stroke: $REACT_APP_LOW_CONGESTION_PERCENTAGE_COLOR !important;
}