.train-line {
  fill: none;
  /* stroke: steelblue; */
  stroke-width: 2;
  cursor: pointer;
}

.platform-label {
  font-size: 12px;
  text-anchor: middle;
}

.suspention {
  stroke: rgb(237, 123, 123);
  stroke-dasharray: 4, 4;
}

.tick line {
  stroke-opacity: 0.2;
}

.station-grid-line {
  stroke-opacity: 0.2;
  stroke: currentColor;
}
