.forward {
  cursor: pointer;
}
.tab-panel {
  display: flex !important;
  position: absolute !important;
  top: 65px;
  right: 0px;
  height: 100%;
  width: 55%;
}

.table {
  margin-bottom: 19px;
}

.split-at {
  display: flex;
}

.name-label {
  margin-right: 7px;
}

.close-icon:hover {
  background-color: var(--uikit-colors-atmo3);
}

.hide-column {
  margin-bottom: 20px;
}

.MuiTabs-flexContainer {
  height: 48px;
  place-items: center;
}

.diaMonitorPanel {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.dia-monitor-label,
.dia-monitor-button,
.fcl-font-size {
  font-size: 12px;
}

.train-info-item {
  height: 36px;
  place-items: center;
  margin-block: 4px;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-labelIcon.MuiTab-textColorPrimary {
  padding-left: 9px;
  padding-right: 9px;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary {
  padding-left: 12px;
  padding-right: 12px;
}
